<div class="d-flex mb-4">
    <div class="Card-2 d-flex justify-content-evenly bg-success rounded-5 text-white me-3 ml-2 pb-3">
      <div class="Card-2-left-section">
        <p>
          <img src="../../../assets/images/Screenshot 2024-09-01 154244.png" width="70px">
        </p>
        <div style="width: 70px;">
          <p style="text-wrap:wrap">
            Vacation Requests
          </p>
        </div>
      </div>
      <div style="font-size: 60px; place-self: center; ">
        10
      </div>
    </div>
    <div class="Card-2 d-flex justify-content-evenly bg-success rounded-5 text-white">
      <div class="Card-2-left-section">
        <p>
          <img src="../../../assets/images/Screenshot 2024-09-01 154244.png" width="70px">
        </p>
        <div style="width: 70px;">
          <p style="text-wrap:wrap" class="text-center">
            Leaving Requests
          </p>
        </div>
      </div>
      <div style="font-size: 60px; place-self: center">
        10
      </div>
    </div>
  </div>