<div class="d-flex flex-column rounded-5 Card-1 Card-1-profile-div mb-4 mb-lg-0 me-md-3">
    <div class="d-flex pt-2 justify-content-between">
      <div class="d-flex m-2">
        <p style="place-content: center;">
          <img src="../../assets/images/Screenshot 2024-09-01 150822.png" style="width: 60px; margin-left: 5px;">
        </p>
        <p style="padding: 0 10px ;">
          <span class="fw-bold">Ahmad Azmi</span>  <br /><span class="half-obacity small"> Junior Accounting Officer</span>
        </p>
      </div>
      <div class="view-profile-Button-p">
        <button class="view-profile-Button btn btn-outline-success m-3 px-5 py-1" routerLink="/profile">View Profiles</button>
      </div>
    </div>
    <div class="d-flex text-nowrap" >
      <div class="d-flex mx-3">
        <p style="place-content: center;">
          <span class="fa-solid fa-user pb-3 p-2 fs-2 mx-2 half-obacity"></span>
        </p>
        <p>
          <span class="fw-bold">Reporting to:</span> <br /><span class="half-obacity small"> Salwa Assem</span>
        </p>
      </div>
      <div class="d-flex">
        <p style="place-content: center;">
          <img class="p-2 fs-2 mx-2" src="../../assets/images/chart-mixed-svgrepo-com.png" style="width: 60px">
        </p>
        <p>
          <span class="fw-bold">Corprate Level:</span> <br /><span class="half-obacity small"> Level 10</span>
        </p>
      </div>
    </div>
  </div>