<div class="d-flex flex-column flex-wrap rounded-5 Card-1 my-4 mx-0 mx-md-2 mx-lg-5">
    <div class="d-flex justify-content-between">
        <div class="d-flex p-3" >
            <p style="place-content: center;">
                <img src="../../assets/images/Screenshot 2024-09-01 150822.png" style="width: 60px; margin-right: 5px;">
            </p>
            <p>
                <span class="fw-bold">Ahmad Azmi</span>  <br />
                Marketing Department <br />
                <span class="half-obacity"> Junior Accounting Officer</span>
            </p>
        </div>
        <p class="view-profile-Button-p">
            <button class="btn btn-success px-4 px-lg-5 m-4">New Requests</button>
        </p>
    </div>
    <div class="d-flex flex-wrap justify-content-between ms-3 me-4">
        <div class="d-flex" >
            <p class="text-nowrap" style="place-content: center">
                <span class="fa-solid fa-user pb-3 p-2 fs-2 mx-2 half-obacity"></span>
            </p>
            <p>
                Reporting to: <br /><span class="half-obacity"> Salwa Assem</span>
            </p>
        </div>
        <div class="d-flex" >
            <p class="text-nowrap" style="place-content: center">
                <img src="../../assets/images/chart-mixed-svgrepo-com.png"
                    style="width: 45px; margin-right: 8px;" />
            </p>
            <p>
                Corporate Level: <br /><span class="half-obacity"> Level 10</span>
            </p>
        </div>
        <div class="d-flex" >
            <p class="text-nowrap" style="place-content: center">
                <img src="../../assets/images/Screenshot_2024-09-01_213757-removebg-preview.png" style="width: 50px;" />
            </p>
            <p>
                Liftime: <br /><span class="half-obacity"> 2.5 Years</span>
            </p>
        </div>
        <div class="d-flex" >
            <p class="text-nowrap" style="place-content: center">
                <img src="../../assets/images/Screenshot_2024-09-01_213753-removebg-preview.png"
                    style="width: 52px; margin-right: 5px;" />
            </p>
            <p>
                Vacation Days Left: <br /><span class="half-obacity">
                {{totalVacationDays | vacationDaysLeft: vacationDaysTaken}}</span> <!--Custom Pipe-->
            </p>
        </div>
        <div class="d-flex">
            <p class="text-nowrap" style="place-content: center">
                <img src="../../assets/images/Screenshot_2024-09-01_213749-removebg-preview.png" style="width: 60px;" />
            </p>
            <p>
                Sick Days Left: <br /><span class="half-obacity"> 
                {{totalSickDays | vacationDaysLeft: sickDaysTaken}}</span> <!--Custom Pipe-->
            </p>
        </div>
    </div>
  </div>